@import '~antd/dist/antd.css';


.site-layout-content {
    padding: 24px;
    background: #fff;
    min-height: calc(100vh - 134px);
}
.logo {
    float: left;
    margin-right: 20px;
}

.full-size {
    font-size: 24vw;
}

.timezone {
    position: fixed;
    bottom: 70px;
    right: 20px;
}